<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scm.contract.coa.repository.CoaMapper">
    <select id="getCodeDefinition" resultType="CodeDefinitionDto">
        SELECT
            cd_tp, cd_tp_meaning, cd_v, cd_v_meaning
        FROM
            tcom.tb_code_definition
    </select>

    <select id="getAutoIncrementContractId" resultType="String">
        SELECT lpad(lpad(nextval('contract_info_seq')::text,6,'0'),14,TO_CHAR(NOW()::DATE, 'yyyymmdd'))
    </select>

    <select id="getTariffInfoByCntrtId" resultType="TariffInfoDto">
        SELECT
            trff_id, trff_nm, trff_desc,
            (select cd_v_meaning from tcom.tb_code_definition where cd_v = biz_tcd) as biz_nm,
            (select cd_v_meaning from tcom.tb_code_definition where cd_v = svc_tcd) as svc_nm,
            (select cd_v_meaning from tcom.tb_code_definition where cd_v = detl_svc_tcd) as detl_svc_nm,
            ins_date, detl_svc_tcd
        FROM
            tcms.tb_cntrt_trff_info
        WHERE
            cntrt_id = #{cntrt_id}
        AND
            (select cd_v_meaning from tcom.tb_code_definition where cd_v = svc_tcd) LIKE CONCAT('%', #{svc_nm}, '%')
        AND
            (select cd_v_meaning from tcom.tb_code_definition where cd_v = detl_svc_tcd) LIKE CONCAT('%', #{detl_svc_nm}, '%')
    </select>
    <select id="getContractInfoByConditions" resultType="ContractAndMasterJoinDto">
        SELECT
            *
        FROM
            (
                SELECT
                    tci.cntrt_tcd, tci.ins_person_id, tci.cntrt_nm, tci.cntrt_scd, tci.cntrt_start_date, tci.cntrt_end_date, tui.user_nm, tci.cntrt_id, tci.ins_date, tci.del_yn, tci.cntrt_curr_cd
                FROM
                    tcms.tb_cntrt_info tci
                JOIN
                    (SELECT user_nm, user_id FROM tcom.tb_user_info) tui
                ON
                    tui.user_id = tci.cre_person_id
            ) a
        JOIN
            (SELECT cd_v, cd_v_meaning FROM tcom.tb_code_definition) b
        ON
            b.cd_v = a.cntrt_scd
        WHERE
            a.cntrt_id LIKE CONCAT('%', #{cntrt_id}, '%')
        AND
            a.cntrt_nm LIKE CONCAT('%', #{cntrt_nm}, '%')
        and
            a.del_yn = 'N'
        AND
            b.cd_v_meaning LIKE CONCAT('%', #{cd_v_meaning}, '%')
        <choose>
            <when test="ins_date!=null&amp;&amp;ins_date!=''" >
                AND
                    a.cntrt_start_date <![CDATA[<=]]> #{ins_date}
                AND
                    a.cntrt_end_date <![CDATA[>=]]> #{ins_date}
            </when>
            <otherwise>
            AND
                a.ins_date LIKE CONCAT('%', #{ins_date}, '%')
            </otherwise>
        </choose>
        ORDER BY a.cntrt_end_date
    </select>

    <insert id="postContractInfo" parameterType="ContractInfoDto">
        INSERT INTO tcms.tb_cntrt_info
        (
            cntrt_id, cntrt_nm, cntrt_scd, cntrt_start_date, cntrt_end_date,
            cntrt_tcd, cre_person_id, ins_date, ins_person_id, ins_time, upd_date,
            upd_person_id, upd_time, cntrt_curr_cd, del_yn, cntrt_typ_gcd
        )
        VALUES
        (
            #{cntrtId}, #{cntrtNm}, #{cntrtScd}, #{cntrtStartDate}, #{cntrtEndDate},
            #{cntrtTcd}, #{crePersonId}, #{insDate}, #{insPersonId}, #{insTime}, #{updDate},
            #{updPersonId}, #{updTime}, #{cntrtCurrCd}, #{delYn}, #{cntrtTypGcd}
        )
    </insert>
    <update id="updateCntrtInfo" parameterType="ContractInfoDto">
        WITH jobUpdate AS(
        UPDATE tcms.tb_cntrt_info
        SET UPD_DATE = #{updDate}
            ,UPD_TIME = #{updTime}
            ,UPD_PERSON_ID = #{updPersonId}
            ,CORP_ID = #{corpId}
            ,CNTRT_NM = #{cntrtNm}
            ,CNTRT_TCD = #{cntrtTcd}
            ,CNTRT_TYP_GCD= #{cntrtTypGcd}
            ,CNTRT_SCD = #{cntrtScd}
            ,CRE_PERSON_ID = #{crePersonId}
            ,CNTRT_START_DATE = #{cntrtStartDate}
            ,CNTRT_END_DATE = #{cntrtEndDate}
            ,CNTRT_CURR_CD = #{cntrtCurrCd}
            ,CNTRT_EDIT_COMMENT = #{cntrtCurrCd}
        WHERE CNTRT_ID = #{cntrtId}
        )
        INSERT INTO TCMS.TB_CNTRT_HISTORY
        (
            CNTRT_ID, CNTRT_TCD, CORP_ID, CNTRT_NM, CNTRT_SCD, CRE_PERSON_ID, CNTRT_STAT_DATE, CNTRT_END_DATE,
            CNTRT_CURR_CD, INS_DATE, INS_TIME, INS_PERSON_ID, UPD_DATE, UPD_TIME, UPD_PERSON_ID, CNTRT_TYP_GCD,
            CNTRT_EDIT_COMMENT
        )
        VALUES
        (
            #{cntrtId}, #{cntrtTcd}, #{corpId}, #{cntrtNm}, #{cntrtScd}, #{crePersonId}, #{cntrtStartDate}, #{cntrtEndDate},
            #{cntrtCurrCd}, #{insDate}, #{insTime}, #{insPersonId}, #{updDate}, #{updTime}, #{updPersonId}, #{cntrtTypGcd},
            #{cntrtEditComment}
        )
    </update>
    <update id="deleteCntrtInfo" parameterType="ContractInfoDto">
        UPDATE
            tcms.tb_cntrt_info
        SET
             UPD_DATE = #{updDate}
            ,UPD_TIME = #{updTime}
            ,DEL_YN = #{delYn}
        WHERE
            CNTRT_ID = #{cntrtId}
    </update>
</mapper>