<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scm.contract.coa.repository.CoaMapper">
    <select id="getCodeDefinition" resultType="CodeDefinitionDto">
        SELECT
            cd_tp, cd_tp_meaning, cd_v, cd_v_meaning
        FROM
            tcom.tb_code_definition
    </select>

    <select id="getAutoIncrementContractId" resultType="String">
        SELECT lpad(lpad(nextval('contract_info_seq')::text,6,'0'),14,TO_CHAR(NOW()::DATE, 'yyyymmdd'))
    </select>

    <select id="getTariffInfoByCntrtId" resultType="TariffInfoDto">
        SELECT
            trff_nm, trff_desc,
            (select cd_v_meaning from tcom.tb_code_definition where cd_v = biz_tcd) as biz_nm,
            (select cd_v_meaning from tcom.tb_code_definition where cd_v = svc_tcd) as svc_nm,
            (select cd_v_meaning from tcom.tb_code_definition where cd_v = detl_svc_tcd) as detl_svc_nm,
            ins_date
        FRO
            tcms.tb_cntrt_trff_info
        WHERE
            cntrt_id = #{cntrt_id}
        AND
            (select cd_v_meaning from tcom.tb_code_definition where cd_v = svc_tcd) LIKE CONCAT('%', #{svc_nm}, '%')
        AND
            (select cd_v_meaning from tcom.tb_code_definition where cd_v = detl_svc_tcd) LIKE CONCAT('%', #{detl_svc_nm}, '%')
    </select>
    <select id="getContractInfoByConditions" resultType="ContractAndMasterJoinDto">
        SELECT
            a.cntrt_nm, b.cd_v_meaning, a.cntrt_start_date, a.cntrt_end_date, a.user_nm, a.cntrt_id
        FROM
            (
                SELECT
                    tci.cntrt_nm, tci.cntrt_scd, tci.cntrt_start_date, tci.cntrt_end_date, tui.user_nm, tci.cntrt_id, tci.ins_date
                FROM
                    tcms.tb_cntrt_info tci
                JOIN
                    (SELECT user_nm, user_id FROM tcom.tb_user_info) tui
                ON
                    tui.user_id = tci.cre_person_id
            ) a
        JOIN
            (SELECT cd_v, cd_v_meaning FROM tcom.tb_code_definition) b
        ON
            b.cd_v = a.cntrt_scd
        WHERE
            a.cntrt_id LIKE CONCAT('%', #{cntrt_id}, '%')
        AND
            a.cntrt_nm LIKE CONCAT('%', #{cntrt_nm}, '%')
        AND
            b.cd_v_meaning LIKE CONCAT('%', #{cd_v_meaning}, '%')
        <choose>
            <when test="ins_date!=null&amp;&amp;ins_date!=''" >
                AND
                    a.cntrt_start_date <![CDATA[<=]]> #{ins_date}
                AND
                    a.cntrt_end_date <![CDATA[>=]]> #{ins_date}
            </when>
            <otherwise>
            AND
                a.ins_date LIKE CONCAT('%', #{ins_date}, '%')
            </otherwise>
        </choose>
    </select>

    <insert id="postContractInfo" parameterType="ContractInfoDto">
        INSERT INTO tcms.tb_cntrt_info
        (
            cntrt_id, cntrt_nm, cntrt_scd, cntrt_start_date, cntrt_end_date,
            cntrt_tcd, cre_person_id, ins_date, ins_person_id, ins_time, upd_date,
            upd_person_id, upd_time, cntrt_curr_cd, del_yn, cntrt_typ_gcd
        )
        VALUES
        (
            #{cntrtId}, #{cntrtNm}, #{cntrtScd}, #{cntrtStartDate}, #{cntrtEndDate},
            #{cntrtTcd}, #{crePersonId}, #{insDate}, #{insPersonId}, #{insTime}, #{updDate},
            #{updPersonId}, #{updTime}, #{cntrtCurrCd}, #{delYn}, #{cntrtTypGcd}
        )
    </insert>

</mapper>