<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.scm.contract.excel.repository.ImportExcelMapper">
    <insert id="postImportExcelData" parameterType="ImportExcelDto">

        insert into tcms.tb_cntrt_trff_cond_h
        ("CNTRT_ID", "TRFF_ID", "LCC_CD", "SUB_LCC_CD", "TRFF_STAT_DATE", "TRFF_END_DATE", "CNTRT_CURR_CD", "PAY_CURR_CD", "INCO_CD", "PROD_GCD", "DEP_CD", "DEP_NM", "ARR_NM", "ARR_CD", "DEL_YN", "INS_DATE", "INS_TIME", "INS_PERSON_ID", "UPD_DATE", "UPD_TIME", "UPD_PERSON_ID", "lcc_cd_desc")
        values
        <foreach collection="list" item="item" separator="," >
        (
            #{item.cntrt_id}, #{item.trff_id}, #{item.lcc_cd}, #{item.sub_lcc_cd},
            #{item.trff_stat_date}, #{item.trff_end_date}, #{item.cntrt_curr_cd},
            #{item.pay_curr_cd}, #{item.inco_cd}, #{item.prod_gcd}, #{item.dep_cd}, #{item.dep_nm},
            #{item.arr_nm}, #{item.arr_cd}, #{item.del_yn}, #{item.ins_date}, #{item.ins_time}, #{item.ins_person_id},
            #{item.upd_date}, #{item.upd_time}, #{item.upd_person_id}, #{item.lcc_cd_desc} )

        </foreach>
    </insert>
    <insert id="postImportExcelData2" parameterType="java.util.List">
    <foreach collection="list" item="item" separator="," open="(" close=")">
        INSERT INTO
        tcms.tb_cntrt_trff_cond_val_d
        ("CNTRT_ID", "TRFF_ID", "VAL_SEQ_NO", "DEL_YN", "INS_DATE", "INS_TIME", "INS_PERSON_ID", "UPD_DATE", "UPD_TIME", "UPD_PERSON_ID", "COND_ID",  "CAL_UNIT_CD", "CNTRT_CURR_CD", "PAY_CURR_CD", "UNIT_PRICE")
        VALUES
        (#{item.cntrt_id}, #{item.trff_id}, #{item.val_seq_no}, #{item.del_yn}, #{item.ins_date}, #{item.ins_time},
        #{item.ins_person_id}, #{item.upd_date}, #{item.upd_time}, #{item.upd_person_id}, #{item.cond_id},
        #{item.cal_unit_cd}, #{item.cntrt_curr_cd}, #{item.pay_curr_cd}, #{item.unit_price})
    </foreach>
    </insert>
</mapper>

